$alice: "Alice", sans-serif;
$quicksand: 'Quicksand', sans-serif;

$font-weights: (
    "thin": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);

//colors
$textPrimary: hsl(260, 8%, 15%);

//font-size
$xm: .8rem;
$sm: .9rem;
$base: 1rem;
$md: 1.5rem;
$big: 2rem;
$large: 3rem;

//layout
$fluid: clamp($base, 4vw, calc($big * 3))