.contact {
    padding: 4rem clamp(1rem, 6vw, 10rem);
    max-width: 900px;
    margin: auto;
    text-align: center;
}


.contact h2 {
    font-size: 2.5rem;
    color: #aba9a9;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 300;
    max-width: 500px;
    margin: auto;
    line-height: 1.5;
}

.contact p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 2rem 0 3rem 0;
    color: #aba9a9;
    line-height: 1.925;
}

.contact a {
    color: #aba9a9;
    display: flex;
    max-width: fit-content;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
}

.contact a span {
    height: 2px;
    width: 20px;
    background: #aba9a9;
    opacity: .7;
}