header {
    position: relative;
    padding-bottom: 5rem;
    z-index: 1000;
}

.header__nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    background: white;
    padding: 1rem clamp(1rem, 6vw, 10rem);
}


.header__logo {
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
}

.header__nav__ul {
    display: flex;
    gap: 3rem;
}

.header__nav__ul a {
    color: black;
    font-size: 1.2rem;
}