.intro {
    color: #333333;
    padding: 3rem clamp(1rem, 6vw, 10rem) 2rem clamp(1rem, 6vw, 10rem);
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 4rem;
}

.intro>div {
    flex-basis: 400px;
    flex-grow: 1;
}

.intro figure {
    flex-basis: 250px;
    flex-grow: 1;
}

.intro figure img {
    width: 100%;
}

.intro h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin: 1rem 0;
    font-weight: 600;
}

.intro__hello {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2rem;
}

.intro .line {
    height: 2px;
    width: 16px;
    background: #333333;
}

.about__me {
    font-size: 2rem;
    line-height: 1.8rem;
}

.what__i__do {
    padding: 2rem clamp(1rem, 6vw, 10rem);
}

.what__i__do h2 {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 1.5rem;
    text-align: center;
}

.what__i__do .my__skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.what__i__do h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: .7rem;
}

.what__i__do p {
    font-size: 1rem;
}

.what__i__do img {
    height: 80px;
}

.what__i__do .my__skills>div {
    background: #D6D6D6;
    color: #333333;
    transition: all .3s ease;
    padding: 2rem 1rem;
    flex-basis: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what__i__do .my__skills>div:hover {
    background: #333333;
    color: #D6D6D6;
    transform: scale(1.05);
}

@media (max-width: 450px) {
    .what__i__do .my__skills>div {
        flex-grow: 1;
    }
}