.social {
    background: #363434;
    padding: 4rem clamp(1rem, 6vw, 10rem);
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.social h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.social h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 1.5rem;
}

.social .links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.social .hello {
    width: 80%;
    position: absolute;
    left: 1rem;
    top: 1rem;
    /* z-index: ; */
}